<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{!-- This line shows the driver title which you don't have to change --}}
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    {{!-- Step 1 --}}
    <section class="box">
        {{!-- API Key Input --}}
        <div class="row {{if (eq step 1) "inline-form"}}">
            <div class="col span-2 col-inline">
                <label>API Key</label>
            </div>
            {{#if (eq step 1)}}
                <div class="col span-10">
                    {{input
                        type="text"
                        name="apikey"
                        classNames="form-control"
                        placeholder="Paste your API key here..."
                        value=model.%%DRIVERNAME%%Config.apikey
                        autocomplete="on"
                    }}
                </div>
            {{else}}
                <div class="form-control-static">
                    {{model.%%DRIVERNAME%%Config.apikey}}
                </div>
            {{/if}}
        </div>

        {{!-- Secret Key Input --}}
        <div class="row {{if (eq step 1) "inline-form"}}">
            <div class="col span-2 col-inline">
                <label>Secret Key</label>
            </div>
            {{#if (eq step 1)}}
                <div class="col span-10">
                    {{input
                        type="password"
                        name="secretkey"
                        classNames="form-control"
                        placeholder="Paste your API secret key here..."
                        value=model.%%DRIVERNAME%%Config.secretkey
                        autocomplete="on"
                    }}

                </div>
            {{else}}
                <div class="form-control-static">
                    **************************************************************************************
                </div>
            {{/if}}
        </div>

        {{!-- Region selection --}}
        <div class="row {{if (eq step 1) "inline-form"}}">
            <div class="col span-2 col-inline">
                <label>VDC Zone{{unless (eq step 1) ":"}}</label>
            </div>
            {{#if (eq step 1)}}
                <div class="col span-4">
                    {{new-select
                        classNames="form-control"
                        value=model.%%DRIVERNAME%%Config.zoneid
                        content=zones
                        optionValuePath="id"
                        optionLabelPath="name"
                        optionGroupPath="region"
                        selected="selected"
                    }}
                </div>
            {{else}}
                <div class="form-control-static">
                    {{model.%%DRIVERNAME%%Config.location}}
                </div>
            {{/if}}
        </div>

        {{!-- Template filter selection --}}
        <div class="row {{if (eq step 1) "inline-form"}}">
            <div class="col span-2 col-inline">
                <label>Template Type{{unless (eq step 1) ":"}}</label>
            </div>
            {{#if (eq step 1)}}
                <div class="col span-4">
                    {{new-select
                        classNames="form-control"
                        value=model.%%DRIVERNAME%%Config.templatefilter
                        content=templatetypes
                        optionValuePath="id"
                        optionLabelPath="name"
                        selected="selected"
                    }}
                </div>
            {{else}}
                <div class="form-control-static">
                    {{model.%%DRIVERNAME%%Config.templatefiltername}}
                </div>
            {{/if}}
        </div>
        {{!-- Form buttons --}}
        {{#if (eq step 1)}}
            {{top-errors errors=errors}}
            <div class="footer-actions">
                <button {{action "interouteVDCLogin"}} name="submit" class="btn bg-primary">Submit</button>
                <button {{action "cancel"}} class="btn bg-transparent">{{t "generic.cancel"}}</button>
            </div>
        {{else}}
            <div class="footer-actions">
                <button {{action "changeZone"}} name="submit" class="btn bg-primary">Change</button>
            </div>
        {{/if}}
    </section>


    {{!-- Step 3 --}}
    <section class="box {{unless (eq step 3) "hide"}}">
        {{!-- Network selection --}}
        <div class="row inline-form">
            <div class="col span-2 col-inline">
                <label>Network</label>
            </div>
            <div class="col span-10">
                {{new-select
                    classNames="form-control"
                    content=networks
                    optionLabelPath="name"
                    optionValuePath="id"
                    value=model.%%DRIVERNAME%%Config.networkid
                }}
            </div>
        </div>

        {{!-- Template selection --}}
        <div class="row inline-form">
            <div class="col span-2 col-inline">
                <label>Template</label>
            </div>
            <div class="col span-10">
                {{new-select
                    classNames="form-control"
                    content=templates
                    optionLabelPath="name"
                    optionValuePath="id"
                    value=model.%%DRIVERNAME%%Config.tempalteid
                }}
            </div>
        </div>

        {{!-- CPU and RAM selection --}}
        <div class="row inline-form">
            <div class="col span-2 col-inline">
                <label>CPU</label>
            </div>
            <div class="col span-1 col-inline">
                {{cpu}}
            </div>
            <div class="col span-3 col-inline">
                {{input-slider value=cpu valueMin=1 valueMax=12 upFn=(action "updateServiceOffering")}}
            </div>
        </div>
        <div class="row inline-form">
            <div class="col span-2 col-inline">
                <label>RAM</label>
            </div>
            <div class="col span-1 col-inline">
                {{ram}}
            </div>
            <div>
                <button {{action "setRam" 1}} name="1" class="btn bg-primary span-1 col-inline ram-button">1</button>
                <button {{action "setRam" 2}} name="2" class="btn bg-primary span-1 col-inline ram-button">2</button>
                <button {{action "setRam" 4}} name="4" class="btn bg-primary span-1 col-inline ram-button">4</button>
                <button {{action "setRam" 8}} name="8" class="btn bg-primary span-1 col-inline ram-button">8</button>
                <button {{action "setRam" 16}} name="16" class="btn bg-primary span-1 col-inline ram-button">16</button>
                <button {{action "setRam" 32}} name="32" class="btn bg-primary span-1 col-inline ram-button">32</button>
                <button {{action "setRam" 64}} name="64" class="btn bg-primary span-1 col-inline ram-button">64</button>
            </div>
        </div>

        {{!-- Disk Offering selection --}}
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col span-2 col-inline">
                    <label class="form-control-static">Disc Type</label>
                </div>
                <div class="col span-10">
                    {{new-select
                        content=diskofferings
                        optionLabelPath="name"
                        optionValuePath="id"
                        value=model.%%DRIVERNAME%%Config.diskofferingid
                    }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col span-2 col-inline">
                    <label class="form-control-static">Disk Size (GB)</label>
                </div>
                <div class="col span-10">
                    {{input type="text"
                        value=model.%%DRIVERNAME%%Config.disksize
                        placeholder="Disk size (GB)"
                    }}
                </div>
            </div>
        </div>
    </section>

    <!-- Loading API request -->
    <section class="horizontal-form r-pt0 {{unless (eq step 2) "hide"}}">
        <div class="text-center">
            <i class="icon icon-spinner icon-spin"></i><i>&nbsp; Please wait...</i>
        </div>
    </section>

    {{!-- This following contains the Name, Labels and Engine Options fields --}}
    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

    {{form-name-description
      model=model
      nameRequired=true
    }}

    {{form-user-labels
      initialLabels=labelResource.labels
      setLabels=(action "setLabels")
      expandAll=expandAll
      expand=(action expandFn)
    }}

    {{form-engine-opts
      machine=model
      showEngineUrl=showEngineUrl
    }}
  {{/accordion-list}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel save="save" cancel="cancel"}}
</section>